<div {{bindAttr class="view.classes" disabled="view.isDisabled"}} {{action triggerAction target="view"}}>
  {{view.label}}
  {{#if view.hasOptions}}
  	 <span class="caret"></span>
  {{/if}}
</div>
{{#if view.hasOptions}}
	{{collection contentBinding="view._options" tagName="ul" classNames="dropdown-menu" itemViewClass="Tent.ButtonOptions"}}
{{/if}}