{{#view Tent.ButtonElement class="btn"}}
  {{view.parentView.label}}
{{/view}}
{{#if view.hasOptions}}
  {{#view Ember.Button class="btn dropdown-toggle" data-toggle="dropdown"}}
    <span class="caret"></span>
  {{/view}}
	<ul class="dropdown-menu">
	  <li><a href="#">Action</a></li>
	  <li><a href="#">Another action</a></li>
	  <li><a href="#">Something else here</a></li>
	  <li class="divider"></li>
	  <li><a href="#">Separated link</a></li>
	</ul>
{{/if}}