<a class="btn btn-primary" href="#">{{view.translatedLabel}}</a>

<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
  <span class="caret"></span>
</a>

{{collection contentBinding="view._options" tagName="ul" classNames="dropdown-menu"  itemViewClass="Tent.ButtonOptions"}}