<td class="tent-width-small">
	<input type='radio' {{bindAttr name="view.parentTable.elementId" value="{{view.elementId}}"}}>
</td>
{{collection contentBinding="view.parentTable.visibleColumns" itemViewClass="Tent.TableCell"}}