<label class="control-label">{{view.label}}</label>

<div class="controls">
    {{view Ember.Select 
            contentBinding="view._list" 
            optionLabelPathBinding="view.optionLabelPath" 
            optionValuePathBinding ="view.optionValuePath" 
            selectionBinding="view.list.selected"
            multipleBinding="view.multiple"
            promptBinding = "view._prompt" 
            valueBinding = "view.value"}}  
</div>