<td class="tent-width-small">
 {{view Ember.Checkbox nameBinding="view.parentTable.elementId" valueBinding="{{view.elementId}}"}}
</td>
{{collection contentBinding="view.parentTable.visibleColumns" itemViewClass="Tent.TableCell"}}