<label class="control-label">{{view.translatedLabel}}</label>
<div class="controls">
    {{view Ember.TextField valueBinding="view.value"}}
    {{#if view.hasErrors}}
      <span class="help-inline">Please correct the error</span>
    {{/if}}
</div>
